@import "tailwindcss";

@theme {
    --color-primary: #069EB3;
    --color-primary-dark: #01505D;
    --color-background: #000000;
    --color-border: #383838;
    --color-paragraph: #aaaaaa;
    --color-secondary: #6d6d6d;
    --color-black: #000000;
    --color-gray: #888;
    --color-error: #e7000b;
    --breakpoint-sm: 700px;
    --breakpoint-md: 1200px;
    --breakpoint-lg: 1350px;
    --breakpoint-xl: 1600px;
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply text-base text-white bg-background h-full flex flex-col;
  }
  
  main {
    @apply flex flex-col flex-grow bg-background;
    @apply [&_section]:max-w-7xl [&_section]:mx-auto [&_section]:w-full;
    @apply [&_section:first-child]:max-w-full [&_section:first-child]:mx-0 [&_section:first-child]:text-white [&_section:first-child]:h-full [&_section:first-child]:md:max-h-[70vh] [&_section:first-child]:min-h-[600px] [&_section:first-child]:overflow-hidden [&_section:first-child]:flex [&_section:first-child]:flex-col [&_section:first-child]:items-center [&_section:first-child]:justify-center [&_section:first-child]:bg-cover [&_section:first-child]:bg-no-repeat [&_section:first-child]:bg-left [&_section:first-child]:bg-overlay;
    @apply [&_section:first-child>div]:max-w-2xl [&_section:first-child>div]:flex [&_section:first-child>div]:flex-col [&_section:first-child>div]:items-center [&_section:first-child>div]:justify-center [&_section:first-child>div]:gap-5 [&_section:first-child>div]:text-center;
  }

  h1 {
    @apply font-bold text-3xl xl:text-5xl text-white;
  }

  h2 {
    @apply text-xl text-primary text-center;
  }

  h3 {
    @apply text-center text-white text-5xl font-bold;
  }

  h4 {
    @apply text-3xl font-bold text-center text-white;
  }

  h5 {
    @apply text-xl font-semibold;
  }

  input, textarea {
    @apply border-border border-b py-3.5 duration-300 focus:border-primary outline-none [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }

  textarea {
    @apply resize-none;
  }

  p {
    @apply text-paragraph;
  }

  button {
    @apply cursor-pointer p-3 font-semibold duration-300 transition-colors;
    @apply disabled:cursor-default disabled:opacity-75;
  }

  a {
    @apply text-white duration-300 transition-colors hover:text-primary;
  }

  address {
    @apply not-italic;
  }

  hr {
    @apply text-border;
  }

  b {
    @apply text-white;
  }
}

@utility empty-content {
  content: '';
}

@utility bg-overlay {
  @apply relative z-10 after:empty-content after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-background/70 after:z-20 after:pointer-events-none [&>*]:relative [&>*]:z-30;
}

@utility link-button {
 @apply uppercase p-3 font-semibold rounded-lg border-1 hover:bg-transparent duration-300 transition-colors;
}

@utility first-section-main-content {
  @apply flex flex-col justify-center items-center h-full gap-5 max-w-2xl text-center [&_p]:text-white;
}

@utility main-container-legal-page {
  @apply flex flex-col gap-5;
  @apply [&_section]:flex [&_section]:flex-col [&_section]:gap-5 [&_section]:max-w-2xl [&_section]:px-5;
  @apply [&_section:first-child]:max-w-full;
  @apply [&_h2]:text-2xl [&_h2]:text-center [&_h2]:text-white [&_h2]:font-bold;
  @apply [&_h3]:text-xl [&_h3]:text-start;
  @apply [&_ul]:flex [&_ul]:flex-col [&_ul]:gap-5 [&_ul]:pl-10 [&_ul]:list-disc [&_ul]:text-paragraph [&_ul]:w-full;
  @apply [&_hr]:max-w-2xl [&_hr]:w-full [&_hr]:mx-auto;
}